ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5001
ConnectionStrings__DefaultConnection=Server=localhost\SQLEXPRESS;Database=FreshersFoundryDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true
Jwt__Issuer=FreshersFoundry.Api
Jwt__Audience=FreshersFoundry.Web
Jwt__Key=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_FOR_LOCAL_DEV
